config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON_DUAL_DSI
	bool "Select LCD panel driver"

config EXYNOS_DECON_MDNIE_LITE
	depends on EXYNOS_DECON_LCD
	tristate "Support MDNIE LITE"
	default n

config EXYNOS_DECON_LCD_SYSFS
	depends on EXYNOS_DECON_LCD
	tristate "Support LCD SYSFS"
	default y

config EXYNOS_DECON_LCD_MCD
	depends on EXYNOS_DECON_LCD_SYSFS
	tristate "Support MCD"
	default n

config LCD_HMT
	depends on EXYNOS_DECON_LCD
	tristate "Support HMT display"
	default n

config LCD_ALPM
	depends on EXYNOS_DECON_LCD
	tristate "Support ALPM display"
	default n

config PANEL_AID_DIMMING
	depends on EXYNOS_DECON_LCD
	tristate "Support AID Dimming"
	default n

config PANEL_S6E3FA3
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA3 AMOLED FHD LCD Driver"
